fastapi[standard]==0.139.0
uvicorn==0.24.0
SQLAlchemy==2.0.5
alembic==1.14.0

langchain
langchain-core
langchain-chroma
langchain-google-genai
langchain-text-splitters
langchain-community
langchain-groq
langchain-chroma
chromadb
sentence-transformers>=5.6.0
rank-bm25
unstructured[pdf]
prometheus-fastapi-instrumentator

websockets>=10.4